@model List<Smart_Stay.Models.PropertyCardViewModel>
@{
    ViewData["Title"] = "Smart Stay";
}

<div class="hero">

    <nav>

        <div class="logo">
            <img src="~/images/download (3).jpg" />
            <h1>SMART STAY</h1>
        </div>

        <div class="buttons">
            <a asp-controller="Account" asp-action="Register" class="btn">
                SIGN UP
            </a>
            <a asp-controller="Account" asp-action="Login" class="btn">
                LOG IN
            </a>
        </div>

    </nav>

    <div class="hero-content">

        <h2>
            FIND THE PERFECT ACCOMMODATION IN PORT ELIZABETH
        </h2>

        <div class="search-box">

            <input type="text"
                   placeholder="Search Property e.g Sarah Bartman">

            <button>

                🔍

            </button>

        </div>

        <div class="filters">

            <select>

                <option>Filter by location</option>

                <option>Walmer</option>

                <option>Humewood</option>

                <option>Summerstrand</option>

            </select>

            <select>

                <option>Filter by price</option>

                <option>R2000-R3000</option>

                <option>R3000-R5000</option>

                <option>R5000+</option>

            </select>

        </div>

    </div>


</div>
<section class="popular">

    <div class="title">

        <h2>POPULAR ACCOMMODATION</h2>

        <a href="#">VIEW ALL</a>

    </div>

    <div class="cards">
        @foreach (var item in Model)
        {
            <a asp-controller="Property" asp-action="Details" asp-route-id="@item.PropertyID" style="text-decoration:none; color:inherit;">
                <div class="card">
                    <img src="~/@item.ImagePath" />
                    <h3>@item.Title</h3>
                    <p>@item.Bedrooms Bedrooms &nbsp; @item.Bathrooms Bathrooms</p>
                    <p><i class="fa-solid fa-location-dot"></i> @item.Location</p>
                    <h4>R@item.Price/PM</h4>
                </div>
            </a>
        }
    </div>

</section>